<footer>
<div class="footer-container">

    <div class="footer-col">
        <ul>
            <li class="footer-title">Company</li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Join</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <ul>
            <li class="footer-title">Resources</li>
            <li><a href="">Guides</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Help</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <ul>
            <li class="footer-title">Legal</li>
            <li><a href="">Terms</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Security</a></li>
            <li><a href="">Cookies</a></li>
        </ul>
    </div>

    <div class="footer-col subscribe-col">
       
            <h4>Subscribe</h4>
            <p>Stay updated with our latest features and platform improvements.</p>
         
        <div class="subscribe-row">
            <input type="email" name="email" placeholder="Enter email address">
            <button id="submit" type="submit">Submit</button>
        </div>
    </div>
    </div>

    <div class="bottomFooter">
    <div class="bottom-left">
        <span>2025 BODY/DOUBLE</span>
        <span>Privacy policy</span>
        <span>Terms of service</span>
        <span>Cookie settings</span>
    </div>
    
    <div class="icons">
    <a href="https://x.com/NaimaBogran"><i class="fa-brands fa-x-twitter"></i></i></a>
    <a href="https://www.linkedin.com/in/naima-bogran-bba3aa37a/" class="fa fa-linkedin"></a>
    <a href="https://github.com/NaimaBogran" class="fa fa-github"></a>
    </div>
</div>

</footer>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>