<%- include('partials/header') -%>
    <main class="container">
      
  <h1 style="float: none; text-align: center;">create your <span style="color: #333294; font-weight: bold;">BODY</span><span style=" font-weight: bold; ">/</span><span style="color: #bfa1ff; font-weight: bold;">DOUBLE</span> account</h1>
        <div style="font-family:'Figtree', 'Courier New', Courier, monospace;display: flex; /* Enables Flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  width: 100vw; " class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST" style="font-family:'Inter', 'Courier New', Courier, monospace;">
                    <div class="mb-3">
                        <label for="userName" class="form-label" style="font-size: 20px;">username</label>
                        <input type="text" class="form-control" id="userName" name="userName" style="margin-bottom: 10px;">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" style="font-size: 20px;">email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" style="margin-bottom: 10px;">
                      <div id="emailHelp" class="form-text">we'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label" style="font-size: 20px;">password</label>
                      <input type="password" class="form-control" id="password" name="password" style="margin-bottom: 10px; margin-top: 10px;">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label" style="font-size: 20px;">confirm password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" style="margin-bottom: 10px;">
                      </div>
                    <button type="submit" class="btn btn-primary" style="font-size: 20px;">submit</button>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>